*.pt 
*.nii.gz 
*.gz
*.npz
MICCAI_AIMS_TBI
MultiTalentV2_pretrained
Validation2025_100/
*.pyc
wandb
*.env
utils.py
aims_tbi_docker
archive
ensemble_out/
checkpoints/
PLOTS/
aims_tbi_docker_det/
aims_tbi_docker_seg/
MRI_GT_PRED_COMPARISION/
venv/